body {
  background-color: rgb(199, 218, 212);
}

#winner {
  text-align: center;
  font-size: 2em;
}

#board {
  border: 1.2em solid rgba(65, 8, 8, 0.801);
  border-radius: 0.5em;
  margin: 5em auto;
  width: 50em;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.square {
  display: inline-block;
  width: auto;
  height: 100px;
  border: 1px solid black;
  position: relative;
}

.square .letter {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  left: 0;
  margin: 0px;
  margin-left: 2px;
  color:black;
}

.square .number {
  position: absolute;
  top: 2px;
  font-size: 16px;
  left: 0;
  margin: 0px;
  margin-left: 2px;
  color:black;
}